<!-- Dropdown Structure User Menu-->
<ul id="user-msg" class="collection dropdown-content">

  <li class="collection-item collection-fix avatar">
    <img src="http://demo.geekslabs.com/materialize/v3.1/images/avatar.jpg" class="circle">
    <span class="title">Title</span>
    <p>This is a description</p>
    <span class="secondary-content">10:57</span>
  </li>
  <li class="collection-item collection-fix avatar">
    <img src="http://demo.geekslabs.com/materialize/v3.1/images/avatar.jpg" class="circle">
    <span class="title">Title</span>
    <p>This is a description</p>
    <span class="secondary-content">20:12</span>
  </li>
  <li class="collection-item collection-fix avatar">
    <img src="http://demo.geekslabs.com/materialize/v3.1/images/avatar.jpg" class="circle">
    <span class="title">Title</span>
    <p>This is a description</p>
    <span class="secondary-content">23:05</span>
  </li>
</ul>
