<!-- Dropdown Structure User Menu-->
<ul id="user-menu" class="dropdown-content">
  <li class="teal darken-4">
    <a class="white-text" href="#"><i class="fa fa-user"></i> <%= _.get(req,'session.user.fullname','') %></a>
  </li>
  <li class="divider"></li>
  <li><a href="/scp/profile"><i class="fa fa-briefcase"></i> Profile</a></li>
  <li><a href="/scp"><i class="fa fa-cogs"></i> Settings</a></li>
  <li class="divider"></li>
  <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
</ul>
