<!--<div class="fixed-announcement">abc</div>-->
<%- partial ('content/navbar.ejs') %>
<%- partial ('content/helper.ejs') %>
<section class="slider">
  <ul class="slides">
    <li>
      <img src="/images/jumbotron.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3 class="text-bold text-light-shadow">THIS IS OUR BIG TAGLINE!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        <div class="slider-button"><a class="get-started waves-effect waves-light btn btn-long">GET STARTED</a></div>
      </div>
    </li>
  </ul>
</section>

<section id="info">
  <!--<div class="center section-header">-->
    <!--<h2>HEADER</h2>-->
    <!--<p>This is section description</p>-->
  <!--</div>-->

  <div class="container">
  <div class="row">
    <div class="col s6 m3">
      <div class="center">
        <img class="section-info-img" src="/images/icon-set/piggybank.png">
        <p class="promo-caption secondary-color-text">Savings</p>
        <p class="light center primary-color-text">We did most of the heavy lifting for you to provide a default.</p>
      </div>
    </div>

    <div class="col s6 m3">
      <div class="center">
        <img class="section-info-img" src="/images/icon-set/shop.png">
        <p class="promo-caption secondary-color-text">Online Shop</p>
        <p class="light center primary-color-text">We did most of the heavy lifting for you to provide a default.</p>
      </div>
    </div>

    <div class="col s6 m3">
      <div class="center">
        <img class="section-info-img" src="/images/icon-set/payment-method.png">
        <p class="promo-caption secondary-color-text">Payment Method</p>
        <p class="light center primary-color-text">We did most of the heavy lifting for you to provide a default.</p>
      </div>
    </div>

    <div class="col s6 m3">
      <div class="center">
        <img class="section-info-img" src="/images/icon-set/smartphone.png">
        <p class="promo-caption secondary-color-text">Responsive</p>
        <p class="light center primary-color-text">We did most of the heavy lifting for you to provide a default stylings.</p>
      </div>
    </div>

  </div>
  </div>
</section>

<!--<section id="plan" class="container">-->
<!--<div class="row">-->
  <!--<div class="col s4">-->
    <!--<div class="card">-->
      <!--<div class="card-image">-->
        <!--<img src="http://materializecss.com/images/sample-1.jpg">-->
        <!--<span class="card-title">Card Title</span>-->
      <!--</div>-->
      <!--<div class="card-content">-->
        <!--<p>I am a very simple card. I am good at containing small bits of information.-->
          <!--I am convenient because I require little markup to use effectively.</p>-->
      <!--</div>-->
      <!--<div class="card-action">-->
        <!--<a href="#">This is a link</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col s4">-->
    <!--<div class="card">-->
      <!--<div class="card-image">-->
        <!--<img src="http://materializecss.com/images/sample-1.jpg">-->
        <!--<span class="card-title">Card Title</span>-->
      <!--</div>-->
      <!--<div class="card-content">-->
        <!--<p>I am a very simple card. I am good at containing small bits of information.-->
          <!--I am convenient because I require little markup to use effectively.</p>-->
      <!--</div>-->
      <!--<div class="card-action">-->
        <!--<a href="#">This is a link</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col s4">-->
    <!--<div class="card">-->
      <!--<div class="card-image">-->
        <!--<img src="http://materializecss.com/images/sample-1.jpg">-->
        <!--<span class="card-title">Card Title</span>-->
      <!--</div>-->
      <!--<div class="card-content">-->
        <!--<p>I am a very simple card. I am good at containing small bits of information.-->
          <!--I am convenient because I require little markup to use effectively.</p>-->
      <!--</div>-->
      <!--<div class="card-action">-->
        <!--<a href="#">This is a link</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</section>-->
<%- partial ('content/footer.ejs') %>




