<!-- Navbar goes here -->
<div id="user-page">
<header>
  <nav class="top-nav">
      <div class="nav-wrapper">
        <a href="/scp" class="breadcrumb">SCP</a>
        <a class="breadcrumb">DASHBOARD</a>
      </div>
  </nav>
  <%- partial ('site-menu.ejs') %>
</header>

<!-- Page Layout here -->
<main>
  <div class="container-fluid">
    <div class="row">

    </div>
  </div>
</main>


</div>
